<div>

     <div leaflet style="height: 89vh; margin: 0; padding: 0;"
     leafletDraw
     [leafletOptions]="options"
     [leafletDrawOptions]="drawOptions"
     [leafletDrawLocal]="drawLocal"
     (leafletDrawCreated)="onDrawCreated($event)"
     (leafletDrawStart)="onDrawStart($event)">

     <div [leafletLayer]="drawnItems"></div>

     </div>
</div>
<div>
     <form (submit)="onbuttonsubmit()">
          <button>Save Geofences</button>
     </form>
<!--      
          <button data-target="saveData" data-toggle="modal"  href="#BlockUIConfirm">Save Geofences</button> -->
 
</div>
<!-- <div id="saveData" #mymodal class="modal fade" role="dialog">
     
     <div class="modal-dialog">
     
     <div class="modal-content">
       <div class="modal-body">
         <button data-dismiss="modal" class="close">&times;</button>
         
         <h4 style="text-align: center;">Enter Your Details</h4>
         <div class="confirm-body">
              <input type="text" name="Name" id="name" placeholder="Name your Geofence">
              
            
              
           </div>
           <div class="btn-holder pull-right">
             <input type="submit" class="row-dialog-btn btn btn-primary" value="Yes, Accept" (click)="onbuttonsubmit()" data-target="#saveData" data-toggle="modal" href="#BlockUIConfirm"  />
             <input type="button" class="row-dialog-btn btn btn-naked" value="No, Cancel" data-target="#login" data-toggle="modal" href="#BlockUIConfirm" />
           </div>
       </div>
     </div>
     </div>  
     </div>  -->





